@font-face {
  font-family: myFirstFont;
  src: url(CuteFont-Regular.ttf);
}
@font-face {
  font-family: andina;
  src: url(Andina\ Demo.otf);
}
@font-face {
  font-family: choco;
  src: url(White\ Chocolate\ Mint\ -\ TTF.ttf)
}
@font-face {
  font-family: aquate;
  src: url(AquateScript_PERSONAL_USE_ONLY.ttf)
}
@font-face {
  font-family: awesome;
  src: url(Really\ Awesome\ -\ TTF.ttf)
}
h2{
	font-family: awesome;
	font-size: 200%;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

body{
    background-image: url('hatter.gif');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: andina;
    
}



body p{
    max-width: 800px;
    margin: 0 auto;
    padding: 0;

}

main{
  
  margin: auto;
  text-align: center;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.853);
  width: 100%;
  min-height: 100%;
  position: absolute;

}



main #p{
    max-width: 800px;
    margin: 0 auto;
}

h1{
  font-family: aquate;
  font-weight: 50;
  margin: 0;
  font-size: 50px;
  color: #6c5746;
}

@media screen and (max-width: 400px) {
  #yaukoh1{
      font-size: 16vw;
  }

}

h3{
  font-size: larger;
}

h4{
  margin: 0;
  font-family: awesome;
}

p{
  font-family: choco;
  font-size: 250%;
  font-weight: 500;
}



.navlinkek{
list-style: none;
}
.navlinkek #active{
background-color: #836853;
}
.navlinkek #active a{
color: white;
}
.navlinkek li{
display: inline-block;
padding: 0px 10px;
transition: all 0.5s ease 0s;
border-radius: 30px;
margin-top: 8px;
padding-top: 8px;

background-color: #ccab92;
-webkit-transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
-ms-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
-o-border-radius: 30px;
}

@media screen and (max-width: 500px) {
.navlinkek li{
  width:100%;
}
}
.navlinkek li a{
transition: all 0.3s ease 0s;
color:#725b4a;
text-decoration: none;
font-family: aquate;
font-size: 200%;
padding: 30px;
background-color: transparent;
}
.navlinkek li a:hover{
color: rgb(255, 255, 255);
}
.navlinkek li:hover{
background-color: #836853;
-webkit-text-fill-color: white;
}
.navlinkek li:hover{
-webkit-text-fill-color: white;
}


::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #ba977b;
}

::-webkit-scrollbar-thumb {
  background: #836953;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: 836853;
  border-radius: 5px;
}


ul{
	list-style-type: none;
}




ul li{
  display: inline-block;
  padding-bottom: 2%;
  padding-right: 1%;
  padding-left: 1%;
}



@media screen and (max-width: 800px) {
  main{
    background-color: rgba(255, 233, 221, 0.853);
  }
}

h1{


}




.tartalom{
  margin-top: 15%;
  vertical-align: middle;
}

