@font-face {
  font-family: myFirstFont;
  src: url(CuteFont-Regular.ttf);
}
@font-face {
  font-family: andina;
  src: url(Andina\ Demo.otf);
}
@font-face {
  font-family: choco;
  src: url(White\ Chocolate\ Mint\ -\ TTF.ttf)
}
@font-face {
  font-family: aquate;
  src: url(AquateScript_PERSONAL_USE_ONLY.ttf)
}
@font-face {
  font-family: awesome;
  src: url(Really\ Awesome\ -\ TTF.ttf)
}
h2{
	font-family: awesome;
	font-size: 200%;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

body{
    background-image: url('hatter.gif');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #6c5746;
    font-family: andina;
    
}



body p{
    background: #836953;
    background: linear-gradient(to right, #7e6755 0%, #6c5746 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

main{
  border-radius: 15px;
  margin: 3% 3%;
  text-align: center;
  padding: 5%;
  background-color: rgba(255, 239, 231, 0.93);
  box-shadow: 0 0 30px rgba(131, 104, 83, 0.761);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}



main #p{
    max-width: 800px;
    margin: 0 auto;
}

h1{
    font-family: aquate;
    font-weight: 50;
    margin: 0;
    font-size: 50px;
    color: #6c5746;
}

@media screen and (max-width: 400px) {
    #yaukoh1{
        font-size: 16vw;
    }

  }

  h3{
    font-size: larger;
  }

h4{
    margin: 0;
    font-family: awesome;
}

p{
    font-family: choco;
    font-size: 250%;
    font-weight: 500;
}



.navlinkek{
	list-style: none;
}
.navlinkek #active{
  background-color: #836853;
}
.navlinkek #active a{
  color: white;
}
.navlinkek li{
	display: inline-block;
	padding: 0px 10px;
	transition: all 0.5s ease 0s;
	border-radius: 30px;
	margin-top: 8px;
	padding-top: 8px;

	background-color: #ccab92;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

@media screen and (max-width: 500px) {
  .navlinkek li{
    width:100%;
  }
}
.navlinkek li a{
	transition: all 0.3s ease 0s;
	color:#725b4a;
	text-decoration: none;
  font-family: aquate;
  font-size: 200%;
  padding: 30px;
  background-color: transparent;
}
.navlinkek li a:hover{
  color: rgb(255, 255, 255);
}
.navlinkek li:hover{
  background-color: #725b4a;
  -webkit-text-fill-color: white;
}
.navlinkek li:hover{
  -webkit-text-fill-color: white;
}


@media screen and (max-width: 339px) {
    table{
        width: 10px;
        height: auto;
    }
  }



#caption{
    font-weight: 200;
    padding-bottom: 10px;
}

#keszito{
    font-family: awesome;
    font-weight: 800;
    font-size: 150%;

}

a{
    text-decoration: none;
    color: #6c5746;
}

#keszitoa:hover{
  text-decoration: none;
  color: #705a49;
  font-weight: 900;
}

@media screen and (max-width: 500px) {
  #logo{
    padding-top: 10%;
  }
}

@media screen and (max-width: 500px) {
  main{
    border-radius: 0px;
    margin:0;
  }
  *{
    margin: 0;
    padding: 0;
  }
}

hr{
    border-top: #836953 dashed 4px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
   margin-bottom: 1.2%;
   min-width: 100%;
   max-width: 90px;
   margin: 1.2% auto;
   padding-bottom: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #715c4b;
  }

  ::-webkit-scrollbar-thumb {
    background: #a0826b;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: 836853;
    border-radius: 5px;
  }


  @media screen and (max-width: 500px) {
    img{
        width: 80%;
        height: auto;
      }
      #logo{
        display: none;

      }
  }



  #logo{
    width: 80px;
    height: auto;

  }



  @media screen and (max-width: 1200px) {
      #logo{
        width: 70px;
        height: auto;
      }
  }

  @media screen and (max-width: 600px) {
    #logo{
      width: 70px;
      height: auto;
    }
}

ul{
	list-style-type: none;
}

#kartyak{
  display: inline;
  list-style-type:none;
}

@media screen and (max-width: 500px) {
  .flip-card {
    background-color: transparent;
    width: 19.5em;
    height: 300px;
    border-radius: 20px;
  }  
  }





.flip-card {
  background-color: transparent;
  width: 19.5em;
  height: 300px;
  border-radius: 20px;
  
}


@media screen and (min-width: 480px) {
  .flip-card {
    background-color: transparent;
    width: 23.5em;
    height: 300px;
    border-radius: 20px;
  }


}

.flip-card-inner {
  border-left: 4px #b4937a solid;
  border-right: 4px #b4937a solid;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;

}

.flip-card-front {
  padding-top: 16%;
  background-color: #bbb;
  color: black;
  border-radius: 20px;
	background:#cba78c;
}


/* Style the back side */
.flip-card-back {
  background-color: #9b7b64;
  color: white;
  transform: rotateX(180deg);
  border-radius: 20px;
  background:#bc997f;
  width: 100%;
  padding:0 auto;

  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}

ul li{
  display: inline-block;
  padding-bottom: 2%;
  padding-right: 1%;
  padding-left: 1%;
}



/* 2. kártya képe */
.flip-card-img1 img{
  padding-top: 2%;
  width:20%;
  height:auto;
}
/* 1. kártya képe */
.flip-card-img img{
  padding-top: 2%;
  min-width:20%;
  max-width:50%;
  height:auto;
}
.flip-card-img{
  font-size: 100%;
}




/* kartyalinkek 1*/
.kartyalinkek{
	list-style: none;
  padding-top: 30px;
}
.kartyalinkek li{
	display: inline-block;
	padding-top: 10px;
	width:100%;
	transition: all 0.3s ease 0s;
  border-radius: 5px;
  border-bottom: 2px solid #836953;

}
@media screen and (max-width: 500px) {
  .kartyalinkek li{
    width:100%;
  }
}
.kartyalinkek li a{
	transition: all 0.3s ease 0s;
	color:836853;
	text-decoration: none;
  font-family: aquate;
  font-size: 200%;
  padding: 20px;
  background-color: transparent;
}
.kartyalinkek li a:hover{
  color: rgb(255, 255, 255);
}

.kartyalinkek li:hover{
  background-color: #826c5b;
  -webkit-text-fill-color: white;
}





/* kartyalinkek 2*/
.kartyalinkek1{
	list-style: none;
  padding-top: 110px;
}

.kartyalinkek1 li{
	display: inline-block;
	padding-top: 10px;
	width:100%;
	transition: all 0.3s ease 0s;
  border-radius: 5px;
  border-bottom: 2px solid #836953;


}

@media screen and (max-width: 500px) {
  .kartyalinkek1 li{
    width:100%;
  }
}

.kartyalinkek1 li a{
	transition: all 0.3s ease 0s;
	color:836853;
	text-decoration: none;
  font-family: aquate;
  font-size: 200%;
  padding: 20px;
  background-color: transparent;
}
.kartyalinkek1 li a:hover{
  color: rgb(255, 255, 255);
}

.kartyalinkek1 li:hover{
  background-color: #826c5b;
  -webkit-text-fill-color: white;
}


/* kartyalinkek 3*/
.kartyalinkek2{
	list-style: none;
  padding-top: 13px;
}
.kartyalinkek2 li{
	display: inline-block;
	padding-top: 10px;
	width:100%;
	transition: all 0.3s ease 0s;
  border-radius: 5px;
  border-bottom: 2px solid #836953;

}
@media screen and (max-width: 500px) {
  .kartyalinkek2 li{
    width:100%;
  }
}
.kartyalinkek2 li a{
	transition: all 0.3s ease 0s;
	color:836853;
	text-decoration: none;
  font-family: aquate;
  font-size: 200%;
  padding: 20px;
  background-color: transparent;
}
.kartyalinkek2 li a:hover{
  color: rgb(255, 255, 255);
}

.kartyalinkek2 li:hover{
  background-color: #826c5b;
  -webkit-text-fill-color: white;
}

.borderr{
  background-color: #ccab92;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 20px;
  padding-left: 1%;
  padding-right: 1%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 20px #8368531c;
}
.borderrr{
  color: 836853;
  margin: 0 auto;
  background-color: #ccab92;
  max-width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  padding-left: 1%;
  padding-right: 1%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
ol{
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  list-style-type: none;
  
 

}
ol li{
  
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  list-style-type: none;
}
header{
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
ol li h1{
  padding-top: 15px;
  padding-left: 5px;
}
@media screen and (min-width: 600px) {
  #latszas{
    display: none;
  }
}

.borderrrr{
  background-color: #ccab92;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  padding-left: 1%;
  padding-right: 1%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 20px #8368531c;
}

#hr{
  border-top: #836953 dashed 4px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
 margin-bottom: 1.2%;
 min-width: 100%;
 margin: 1.2% auto;
 margin-top: 25px;
 padding-bottom: 10px;
}

#hr1{
  border-top: #836953 dashed 4px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
 margin-bottom: 1.2%;
 min-width: 100%;
 margin: 1.2% auto;
 margin-top: 10px;
 padding-bottom: 20px;
}

@media screen and (min-width: 900px) {
  #hr{
    display: none;
  }
  #hr1{
    display: none;
  }
}
@media screen and (max-width: 800px) {
  main{
    background-color: rgba(255, 255, 255, 0.734);
  }
}
